In [2]:
import pandas as pd
PATH = "~/temp/movie/dt=20240101"
df = pd.read_parquet(PATH)

len(df)

130

In [3]:
df.groupby(['multiMovieYn', 'repNationCd'], dropna=False, observed=False) \
.size() \
.reset_index(name='count')

  multiMovieYn repNationCd  count
0            N           F      0
1            N           K      0
2            N         NaN     20
3            Y           F      0
4            Y           K      0
5            Y         NaN     20
6          NaN           F     30
7          NaN           K     30
8          NaN         NaN     30