In [19]:
import pandas as pd


A = pd.DataFrame({
    "movieCd": ["1001", "1002", "1003"],
    "multiMovieYn": ["Y", "Y", "N"],
    "repNationCd": ["K", "F", None]
})

print(A)

  movieCd multiMovieYn repNationCd
0    1001            Y           K
1    1002            Y           F
2    1003            N        None

In [20]:
B = pd.DataFrame({
    "movieCd": ["1001", "1003", "1004"],
    "multiMovieYn": [None, "Y", "Y"],
    "repNationCd": [None, "F", "K"]
})
print(B)

  movieCd multiMovieYn repNationCd
0    1001         None        None
1    1003            Y           F
2    1004            Y           K

In [16]:
A.set_index("movieCd", inplace=True)
B.set_index("movieCd", inplace=True)

r_df = A.combine_first(B)

r_df.reset_index(inplace=True)

# 결과 출력
r_df

  movieCd multiMovieYn repNationCd
0    1001            Y           K
1    1002            Y           F
2    1003            N           F
3    1004            Y           K

In [17]:
merged_df = A.merge(B, on="movieCd", how="outer", suffixes=("_A", "_B"))
print(merged_df)
#  movieCd multiMovieYn_A repNationCd_A multiMovieYn_B repNationCd_B
# 0    1001              Y             K           None          None
# 1    1002              Y             F            NaN           NaN
# 2    1003              N          None              Y             F
# 3    1004            NaN           NaN              Y             K

        multiMovieYn_A repNationCd_A multiMovieYn_B repNationCd_B
movieCd
1001                 Y             K           None          None
1002                 Y             F            NaN           NaN
1003                 N          None              Y             F
1004               NaN           NaN              Y             K

In [23]:
merged_df = A.merge(B, on="movieCd", how="outer", suffixes=("_A", "_B"))

merged_df["multiMovieYn"] = merged_df["multiMovieYn_A"].fillna(merged_df["multiMovieYn_B"])
merged_df["repNationCd"] = merged_df["repNationCd_A"].fillna(merged_df["repNationCd_B"])

merged_df = merged_df[["movieCd", "multiMovieYn", "repNationCd"]]

# 결과 출력
print(merged_df)

  movieCd multiMovieYn repNationCd
0    1001            Y           K
1    1002            Y           F
2    1003            N           F
3    1004            Y           K

In [49]:
import pyarrow.dataset as ds
import pandas as pd

path = '~/data/movie_after/dailyboxoffice'
dataset = ds.dataset(path, format="parquet", partitioning="hive")
df = dataset.to_table().to_pandas()

In [50]:
print(df.head(10))

   rnum  rank  rankInten rankOldAndNew   movieCd  \
0     1     1          0           OLD  20203702
1     2     2          0           OLD  20212866
2     3     3          0           OLD  20236146
3     4     4          0           OLD  20235735
4     5     5          0           OLD  20235596
5     6     6          1           OLD  20234673
6     7     7         -1           OLD  20235290
7     8     8          0           OLD  20235980
8     9     9          0           OLD  20190324
9    10    10          0           OLD  20235098

                                movieNm      openDt    salesAmt  salesShare  \
0                            노량: 죽음의 바다  2023-12-20  2893509165        40.2
1                                 서울의 봄  2023-11-22  2666429137        37.0
2  신차원! 짱구는 못말려 더 무비 초능력 대결전 ~날아라 수제김밥~  2023-12-22   565417320         7.8
3                          아쿠아맨과 로스트 킹덤  2023-12-20   507984981         7.1
4                            트롤: 밴드 투게더  2023-12-20   273538754         3.8
5                      뽀로로 극장판 슈퍼스타 대모험  2023-12-13   113680587         1.6
6                             도티와 영원의 탑  2023-12-27   100024717         1.4
7                             말하고 싶은 비밀  2023-12-13    38025184         0.5
8                                3일의 휴가  2023-12-06    28109697         0.4
9                                  나폴레옹  2023-12-06     4056567         0.1

   salesInten  ...      salesAcc audiCnt  audiInten  audiChange   audiAcc  \
0  -686119312  ...   36926118105  290717     -59184       -16.9   3728850
1  -649456909  ...  118016920547  262422     -64054       -19.6  12117201
2   -69888800  ...    6071745009   58239      -6751       -10.4    626508
3  -156026099  ...    7967584753   49368     -14686       -22.9    772354
4   -16945147  ...    3383181955   28988      -1952        -6.3    365927
5     2278496  ...    3046919883   11586        190         1.7    332776
6   -13487835  ...     488186693   10704      -1268       -10.6     52400
7    -2349427  ...     868379725    3765       -164        -4.2     89597
8    -5429437  ...    4863180386    3295       -626       -16.0    517836
9      -89539  ...    2246030517     540        -20        -3.6    225912

   scrnCnt  showCnt        dt  multiMovieYn repNationCd
0     1706     5793  20240101             N        None
1     1614     5444  20240101             N        None
2      834     1671  20240101             N        None
3      832     1611  20240101             N        None
4      660      981  20240101             N        None
5      335      432  20240101             N        None
6      357      419  20240101             N        None
7       95      127  20240101             N        None
8      132      157  20240101             N        None
9       23       25  20240101             N        None

[10 rows x 21 columns]

In [45]:
df["movieCd"].duplicated().sum()

np.int64(25)

In [46]:
df['movieCd'].nunique()

25

In [47]:
df['movieCd'].unique()

array(['20203702', '20212866', '20236146', '20235735', '20235596',
       '20234673', '20235290', '20234114', '20236045', '20235980',
       '20190324', '20235098', '20236080', '20233299', '20235923',
       '20235693', '20234664', '20124722', '20236533', '19860125',
       '20202247', '20228560', '20235697', '20232077', '20227525'],
      dtype=object)

In [48]:
df[df.duplicated(subset='movieCd', keep=False)]

,rnum,rank,rankInten,rankOldAndNew,movieCd,movieNm,openDt,salesAmt,salesShare,salesInten,...,salesAcc,audiCnt,audiInten,audiChange,audiAcc,scrnCnt,showCnt,multiMovieYn,repNationCd,dt
0,1,1,0,OLD,20203702,노량: 죽음의 바다,2023-12-20,2893509165,38.8,-686119312,...,36926118105,290717,-59184,-16.9,3728850,1706,5793,NaN,NaN,20240101
1,2,2,0,OLD,20212866,서울의 봄,2023-11-22,2666429137,35.8,-649456909,...,118016920547,262422,-64054,-19.6,12117201,1614,5444,NaN,NaN,20240101
2,3,3,0,OLD,20236146,신차원! 짱구는 못말려 더 무비 초능력 대결전 ~날아라 수제김밥~,2023-12-22,565417320,7.6,-69888800,...,6071745009,58239,-6751,-10.4,626508,834,1671,NaN,NaN,20240101
3,4,4,0,OLD,20235735,아쿠아맨과 로스트 킹덤,2023-12-20,507984981,6.8,-156026099,...,7967584753,49368,-14686,-22.9,772354,832,1611,NaN,NaN,20240101
4,5,5,0,OLD,20235596,트롤: 밴드 투게더,2023-12-20,273538754,3.7,-16945147,...,3383181955,28988,-1952,-6.3,365927,660,981,NaN,NaN,20240101
5,6,6,1,OLD,20234673,뽀로로 극장판 슈퍼스타 대모험,2023-12-13,113680587,1.5,2278496,...,3046919883,11586,190,1.7,332776,335,432,NaN,NaN,20240101
6,7,7,-1,OLD,20235290,도티와 영원의 탑,2023-12-27,100024717,1.3,-13487835,...,488186693,10704,-1268,-10.6,52400,357,419,NaN,NaN,20240101
7,8,8,0,OLD,20234114,괴물,2023-11-29,92381680,1.2,-3768994,...,3884333955,8710,-524,-5.7,396137,187,263,NaN,NaN,20240101
8,9,9,0,OLD,20236045,"바다 탐험대 옥토넛 어보브 앤 비욘드: 버드, 옥토경보를 울려라!",2023-12-27,53094530,0.7,-707720,...,372974290,6471,67,1.0,45294,207,248,NaN,NaN,20240101
9,10,10,1,OLD,20235980,말하고 싶은 비밀,2023-12-13,38025184,0.5,-2349427,...,868379725,3765,-164,-4.2,89597,95,127,NaN,NaN,20240101
10,1,1,0,OLD,20203702,노량: 죽음의 바다,2023-12-20,2893509165,40.2,-686119312,...,36926118105,290717,-59184,-16.9,3728850,1706,5793,N,NaN,20240101
11,2,2,0,OLD,20212866,서울의 봄,2023-11-22,2666429137,37.0,-649456909,...,118016920547,262422,-64054,-19.6,12117201,1614,5444,N,NaN,20240101
12,3,3,0,OLD,20236146,신차원! 짱구는 못말려 더 무비 초능력 대결전 ~날아라 수제김밥~,2023-12-22,565417320,7.8,-69888800,...,6071745009,58239,-6751,-10.4,626508,834,1671,N,NaN,20240101
13,4,4,0,OLD,20235735,아쿠아맨과 로스트 킹덤,2023-12-20,507984981,7.1,-156026099,...,7967584753,49368,-14686,-22.9,772354,832,1611,N,NaN,20240101
14,5,5,0,OLD,20235596,트롤: 밴드 투게더,2023-12-20,273538754,3.8,-16945147,...,3383181955,28988,-1952,-6.3,365927,660,981,N,NaN,20240101
15,6,6,1,OLD,20234673,뽀로로 극장판 슈퍼스타 대모험,2023-12-13,113680587,1.6,2278496,...,3046919883,11586,190,1.7,332776,335,432,N,NaN,20240101
16,7,7,-1,OLD,20235290,도티와 영원의 탑,2023-12-27,100024717,1.4,-13487835,...,488186693,10704,-1268,-10.6,52400,357,419,N,NaN,20240101
17,8,8,0,OLD,20235980,말하고 싶은 비밀,2023-12-13,38025184,0.5,-2349427,...,868379725,3765,-164,-4.2,89597,95,127,N,NaN,20240101
18,9,9,0,OLD,20190324,3일의 휴가,2023-12-06,28109697,0.4,-5429437,...,4863180386,3295,-626,-16.0,517836,132,157,N,NaN,20240101
20,1,1,0,OLD,20234114,괴물,2023-11-29,92381680,37.0,-3768994,...,3884333955,8710,-524,-5.7,396137,187,263,Y,NaN,20240101
21,2,2,0,OLD,20236045,"바다 탐험대 옥토넛 어보브 앤 비욘드: 버드, 옥토경보를 울려라!",2023-12-27,53094530,21.3,-707720,...,372974290,6471,67,1.0,45294,207,248,Y,NaN,20240101
22,3,3,0,OLD,20236080,류이치 사카모토: 오퍼스,2023-12-27,31686950,12.7,-15234118,...,317887981,3001,-1659,-35.6,34196,200,270,Y,NaN,20240101
23,4,4,0,OLD,20233299,크레센도,2023-12-20,29203100,11.7,-2644200,...,424298400,2534,-235,-8.5,39445,79,102,Y,NaN,20240101
24,5,5,0,OLD,20235923,사랑은 낙엽을 타고,2023-12-20,11011634,4.4,285955,...,163391820,1052,-28,-2.6,17008,30,33,Y,NaN,20240101
25,6,6,0,OLD,20235693,리빙: 어떤 인생,2023-12-13,6942434,2.8,-1569966,...,174717087,729,-181,-19.9,18551,20,23,Y,NaN,20240101
30,1,1,0,OLD,20236146,신차원! 짱구는 못말려 더 무비 초능력 대결전 ~날아라 수제김밥~,2023-12-22,565417320,34.4,-69888800,...,6071745009,58239,-6751,-10.4,626508,834,1671,NaN,F,20240101
31,2,2,0,OLD,20235735,아쿠아맨과 로스트 킹덤,2023-12-20,507984981,30.9,-156026099,...,7967584753,49368,-14686,-22.9,772354,832,1611,NaN,F,20240101
32,3,3,0,OLD,20235596,트롤: 밴드 투게더,2023-12-20,273538754,16.6,-16945147,...,3383181955,28988,-1952,-6.3,365927,660,981,NaN,F,20240101
33,4,4,0,OLD,20234114,괴물,2023-11-29,92381680,5.6,-3768994,...,3884333955,8710,-524,-5.7,396137,187,263,NaN,F,20240101
34,5,5,0,OLD,20236045,"바다 탐험대 옥토넛 어보브 앤 비욘드: 버드, 옥토경보를 울려라!",2023-12-27,53094530,3.2,-707720,...,372974290,6471,67,1.0,45294,207,248,NaN,F,20240101
35,6,6,1,OLD,20235980,말하고 싶은 비밀,2023-12-13,38025184,2.3,-2349427,...,868379725,3765,-164,-4.2,89597,95,127,NaN,F,20240101
36,7,7,-1,OLD,20236080,류이치 사카모토: 오퍼스,2023-12-27,31686950,1.9,-15234118,...,317887981,3001,-1659,-35.6,34196,200,270,NaN,F,20240101
37,8,8,0,OLD,20233299,크레센도,2023-12-20,29203100,1.8,-2644200,...,424298400,2534,-235,-8.5,39445,79,102,NaN,F,20240101
38,9,9,0,OLD,20235923,사랑은 낙엽을 타고,2023-12-20,11011634,0.7,285955,...,163391820,1052,-28,-2.6,17008,30,33,NaN,F,20240101
39,10,10,0,OLD,20235693,리빙: 어떤 인생,2023-12-13,6942434,0.4,-1569966,...,174717087,729,-181,-19.9,18551,20,23,NaN,F,20240101
40,1,1,0,OLD,20203702,노량: 죽음의 바다,2023-12-20,2893509165,49.8,-686119312,...,36926118105,290717,-59184,-16.9,3728850,1706,5793,NaN,K,20240101
41,2,2,0,OLD,20212866,서울의 봄,2023-11-22,2666429137,45.9,-649456909,...,118016920547,262422,-64054,-19.6,12117201,1614,5444,NaN,K,20240101
42,3,3,1,OLD,20234673,뽀로로 극장판 슈퍼스타 대모험,2023-12-13,113680587,2.0,2278496,...,3046919883,11586,190,1.7,332776,335,432,NaN,K,20240101
43,4,4,-1,OLD,20235290,도티와 영원의 탑,2023-12-27,100024717,1.7,-13487835,...,488186693,10704,-1268,-10.6,52400,357,419,NaN,K,20240101
44,5,5,0,OLD,20190324,3일의 휴가,2023-12-06,28109697,0.5,-5429437,...,4863180386,3295,-626,-16.0,517836,132,157,NaN,K,20240101

In [52]:
df = df.drop_duplicates(subset='movieCd', keep='last')

df

,rnum,rank,rankInten,rankOldAndNew,movieCd,movieNm,openDt,salesAmt,salesShare,salesInten,...,salesAcc,audiCnt,audiInten,audiChange,audiAcc,scrnCnt,showCnt,dt,multiMovieYn,repNationCd
9,10,10,0,OLD,20235098,나폴레옹,2023-12-06,4056567,0.1,-89539,...,2246030517,540,-20,-3.6,225912,23,25,20240101,N,None
16,7,7,5,OLD,20234664,그대들은 어떻게 살 것인가,2023-10-25,3371362,1.4,-142718,...,19543638004,318,-29,-8.4,2009716,17,20,20240101,Y,None
17,8,8,2,OLD,20124722,피아니스트의 전설,2020-01-01,3063078,1.2,-1092200,...,416989591,294,-142,-32.6,51876,23,25,20240101,Y,None
18,9,8,0,NEW,20236533,립세의 사계,2024-01-10,2804970,1.1,2804970,...,4330970,294,294,100.0,512,4,4,20240101,Y,None
19,10,10,4,OLD,19860125,쿼바디스,1973-01-13,589000,0.2,149000,...,37856982,292,72,32.7,20951,1,3,20240101,Y,None
26,7,7,-1,OLD,20236080,류이치 사카모토: 오퍼스,2023-12-27,31686950,1.9,-15234118,...,317887981,3001,-1659,-35.6,34196,200,270,20240101,None,F
27,8,8,0,OLD,20233299,크레센도,2023-12-20,29203100,1.8,-2644200,...,424298400,2534,-235,-8.5,39445,79,102,20240101,None,F
28,9,9,0,OLD,20235923,사랑은 낙엽을 타고,2023-12-20,11011634,0.7,285955,...,163391820,1052,-28,-2.6,17008,30,33,20240101,None,F
29,10,10,0,OLD,20235693,리빙: 어떤 인생,2023-12-13,6942434,0.4,-1569966,...,174717087,729,-181,-19.9,18551,20,23,20240101,None,F
34,5,5,0,OLD,20190324,3일의 휴가,2023-12-06,28109697,0.5,-5429437,...,4863180386,3295,-626,-16.0,517836,132,157,20240101,None,K
35,6,6,2,OLD,20202247,싱글 인 서울,2023-11-29,1903007,0.0,-409621,...,3740536035,212,-17,-7.4,399787,9,9,20240101,None,K
36,7,7,-1,OLD,20228560,너와 나,2023-10-25,2625839,0.0,-3233861,...,330224803,192,-337,-63.7,33811,8,8,20240101,None,K
37,8,8,1,OLD,20235697,엔시티 네이션 : 투 더 월드 인 시네마,2023-12-06,1364000,0.0,-3168000,...,554784000,69,-144,-67.6,25099,8,8,20240101,None,K
38,9,9,6,OLD,20232077,어른 김장하,2023-11-15,214000,0.0,-58000,...,230592472,31,-8,-20.5,27603,2,2,20240101,None,K
39,10,10,3,OLD,20227525,교토에서 온 편지,2023-12-06,207000,0.0,-67800,...,58288197,29,-19,-39.6,6717,3,3,20240101,None,K
40,1,1,0,OLD,20203702,노량: 죽음의 바다,2023-12-20,2893509165,38.8,-686119312,...,36926118105,290717,-59184,-16.9,3728850,1706,5793,20240101,None,None
41,2,2,0,OLD,20212866,서울의 봄,2023-11-22,2666429137,35.8,-649456909,...,118016920547,262422,-64054,-19.6,12117201,1614,5444,20240101,None,None
42,3,3,0,OLD,20236146,신차원! 짱구는 못말려 더 무비 초능력 대결전 ~날아라 수제김밥~,2023-12-22,565417320,7.6,-69888800,...,6071745009,58239,-6751,-10.4,626508,834,1671,20240101,None,None
43,4,4,0,OLD,20235735,아쿠아맨과 로스트 킹덤,2023-12-20,507984981,6.8,-156026099,...,7967584753,49368,-14686,-22.9,772354,832,1611,20240101,None,None
44,5,5,0,OLD,20235596,트롤: 밴드 투게더,2023-12-20,273538754,3.7,-16945147,...,3383181955,28988,-1952,-6.3,365927,660,981,20240101,None,None
45,6,6,1,OLD,20234673,뽀로로 극장판 슈퍼스타 대모험,2023-12-13,113680587,1.5,2278496,...,3046919883,11586,190,1.7,332776,335,432,20240101,None,None
46,7,7,-1,OLD,20235290,도티와 영원의 탑,2023-12-27,100024717,1.3,-13487835,...,488186693,10704,-1268,-10.6,52400,357,419,20240101,None,None
47,8,8,0,OLD,20234114,괴물,2023-11-29,92381680,1.2,-3768994,...,3884333955,8710,-524,-5.7,396137,187,263,20240101,None,None
48,9,9,0,OLD,20236045,"바다 탐험대 옥토넛 어보브 앤 비욘드: 버드, 옥토경보를 울려라!",2023-12-27,53094530,0.7,-707720,...,372974290,6471,67,1.0,45294,207,248,20240101,None,None
49,10,10,1,OLD,20235980,말하고 싶은 비밀,2023-12-13,38025184,0.5,-2349427,...,868379725,3765,-164,-4.2,89597,95,127,20240101,None,None

In [53]:
dupes = df[df.duplicated(subset='movieCd', keep=False)]
print(dupes)

Empty DataFrame
Columns: [rnum, rank, rankInten, rankOldAndNew, movieCd, movieNm, openDt, salesAmt, salesShare, salesInten, salesChange, salesAcc, audiCnt, audiInten, audiChange, audiAcc, scrnCnt, showCnt, dt, multiMovieYn, repNationCd]
Index: []

[0 rows x 21 columns]

In [63]:
import pyarrow.dataset as ds
import pandas as pd
import os

path = os.path.expanduser('~/data/movie_after/dailyboxoffice')
dataset = ds.dataset(path, format="parquet", partitioning="hive")
df = dataset.to_table().to_pandas()

# 확인
df[["movieCd", "multiMovieYn", "repNationCd", "dt"]].drop_duplicates().sort_values("movieCd").reset_index(drop=True)

     movieCd multiMovieYn repNationCd        dt
0   19860125            Y        None  20240101
1   20124722            Y        None  20240101
2   20190324         None           K  20240101
3   20190324            N        None  20240101
4   20202247         None           K  20240101
5   20203702            N        None  20240101
6   20203702         None        None  20240101
7   20203702         None           K  20240101
8   20212866         None        None  20240101
9   20212866         None           K  20240101
10  20212866            N        None  20240101
11  20227525         None           K  20240101
12  20228560         None           K  20240101
13  20232077         None           K  20240101
14  20233299         None           F  20240101
15  20233299            Y        None  20240101
16  20234114            Y        None  20240101
17  20234114         None           F  20240101
18  20234114         None        None  20240101
19  20234664            Y        None  20240101
20  20234673         None        None  20240101
21  20234673         None           K  20240101
22  20234673            N        None  20240101
23  20235098            N        None  20240101
24  20235290         None           K  20240101
25  20235290            N        None  20240101
26  20235290         None        None  20240101
27  20235596            N        None  20240101
28  20235596         None           F  20240101
29  20235596         None        None  20240101
30  20235693         None           F  20240101
31  20235693            Y        None  20240101
32  20235697         None           K  20240101
33  20235735         None           F  20240101
34  20235735            N        None  20240101
35  20235735         None        None  20240101
36  20235923            Y        None  20240101
37  20235923         None           F  20240101
38  20235980         None        None  20240101
39  20235980         None           F  20240101
40  20235980            N        None  20240101
41  20236045         None        None  20240101
42  20236045            Y        None  20240101
43  20236045         None           F  20240101
44  20236080            Y        None  20240101
45  20236080         None           F  20240101
46  20236146         None           F  20240101
47  20236146         None        None  20240101
48  20236146            N        None  20240101
49  20236533            Y        None  20240101

In [64]:
import pyarrow.dataset as ds
dataset = ds.dataset("~/data/movie_after/dailyboxoffice", format="parquet", partitioning="hive")
df = dataset.to_table().to_pandas()
df[df["dt"] == "20240101"].sort_values("movieCd").drop_duplicates("movieCd")

Empty DataFrame
Columns: [rnum, rank, rankInten, rankOldAndNew, movieCd, movieNm, openDt, salesAmt, salesShare, salesInten, salesChange, salesAcc, audiCnt, audiInten, audiChange, audiAcc, scrnCnt, showCnt, dt, multiMovieYn, repNationCd]
Index: []

[0 rows x 21 columns]

In [65]:
df

,rnum,rank,rankInten,rankOldAndNew,movieCd,movieNm,openDt,salesAmt,salesShare,salesInten,...,salesAcc,audiCnt,audiInten,audiChange,audiAcc,scrnCnt,showCnt,dt,multiMovieYn,repNationCd
0,1,1,0,OLD,20203702,노량: 죽음의 바다,2023-12-20,2893509165,40.2,-686119312,...,36926118105,290717,-59184,-16.9,3728850,1706,5793,20240101,N,None
1,2,2,0,OLD,20212866,서울의 봄,2023-11-22,2666429137,37.0,-649456909,...,118016920547,262422,-64054,-19.6,12117201,1614,5444,20240101,N,None
2,3,3,0,OLD,20236146,신차원! 짱구는 못말려 더 무비 초능력 대결전 ~날아라 수제김밥~,2023-12-22,565417320,7.8,-69888800,...,6071745009,58239,-6751,-10.4,626508,834,1671,20240101,N,None
3,4,4,0,OLD,20235735,아쿠아맨과 로스트 킹덤,2023-12-20,507984981,7.1,-156026099,...,7967584753,49368,-14686,-22.9,772354,832,1611,20240101,N,None
4,5,5,0,OLD,20235596,트롤: 밴드 투게더,2023-12-20,273538754,3.8,-16945147,...,3383181955,28988,-1952,-6.3,365927,660,981,20240101,N,None
5,6,6,1,OLD,20234673,뽀로로 극장판 슈퍼스타 대모험,2023-12-13,113680587,1.6,2278496,...,3046919883,11586,190,1.7,332776,335,432,20240101,N,None
6,7,7,-1,OLD,20235290,도티와 영원의 탑,2023-12-27,100024717,1.4,-13487835,...,488186693,10704,-1268,-10.6,52400,357,419,20240101,N,None
7,8,8,0,OLD,20235980,말하고 싶은 비밀,2023-12-13,38025184,0.5,-2349427,...,868379725,3765,-164,-4.2,89597,95,127,20240101,N,None
8,9,9,0,OLD,20190324,3일의 휴가,2023-12-06,28109697,0.4,-5429437,...,4863180386,3295,-626,-16.0,517836,132,157,20240101,N,None
9,10,10,0,OLD,20235098,나폴레옹,2023-12-06,4056567,0.1,-89539,...,2246030517,540,-20,-3.6,225912,23,25,20240101,N,None
10,1,1,0,OLD,20234114,괴물,2023-11-29,92381680,37.0,-3768994,...,3884333955,8710,-524,-5.7,396137,187,263,20240101,Y,None
11,2,2,0,OLD,20236045,"바다 탐험대 옥토넛 어보브 앤 비욘드: 버드, 옥토경보를 울려라!",2023-12-27,53094530,21.3,-707720,...,372974290,6471,67,1.0,45294,207,248,20240101,Y,None
12,3,3,0,OLD,20236080,류이치 사카모토: 오퍼스,2023-12-27,31686950,12.7,-15234118,...,317887981,3001,-1659,-35.6,34196,200,270,20240101,Y,None
13,4,4,0,OLD,20233299,크레센도,2023-12-20,29203100,11.7,-2644200,...,424298400,2534,-235,-8.5,39445,79,102,20240101,Y,None
14,5,5,0,OLD,20235923,사랑은 낙엽을 타고,2023-12-20,11011634,4.4,285955,...,163391820,1052,-28,-2.6,17008,30,33,20240101,Y,None
15,6,6,0,OLD,20235693,리빙: 어떤 인생,2023-12-13,6942434,2.8,-1569966,...,174717087,729,-181,-19.9,18551,20,23,20240101,Y,None
16,7,7,5,OLD,20234664,그대들은 어떻게 살 것인가,2023-10-25,3371362,1.4,-142718,...,19543638004,318,-29,-8.4,2009716,17,20,20240101,Y,None
17,8,8,2,OLD,20124722,피아니스트의 전설,2020-01-01,3063078,1.2,-1092200,...,416989591,294,-142,-32.6,51876,23,25,20240101,Y,None
18,9,8,0,NEW,20236533,립세의 사계,2024-01-10,2804970,1.1,2804970,...,4330970,294,294,100.0,512,4,4,20240101,Y,None
19,10,10,4,OLD,19860125,쿼바디스,1973-01-13,589000,0.2,149000,...,37856982,292,72,32.7,20951,1,3,20240101,Y,None
20,1,1,0,OLD,20236146,신차원! 짱구는 못말려 더 무비 초능력 대결전 ~날아라 수제김밥~,2023-12-22,565417320,34.4,-69888800,...,6071745009,58239,-6751,-10.4,626508,834,1671,20240101,None,F
21,2,2,0,OLD,20235735,아쿠아맨과 로스트 킹덤,2023-12-20,507984981,30.9,-156026099,...,7967584753,49368,-14686,-22.9,772354,832,1611,20240101,None,F
22,3,3,0,OLD,20235596,트롤: 밴드 투게더,2023-12-20,273538754,16.6,-16945147,...,3383181955,28988,-1952,-6.3,365927,660,981,20240101,None,F
23,4,4,0,OLD,20234114,괴물,2023-11-29,92381680,5.6,-3768994,...,3884333955,8710,-524,-5.7,396137,187,263,20240101,None,F
24,5,5,0,OLD,20236045,"바다 탐험대 옥토넛 어보브 앤 비욘드: 버드, 옥토경보를 울려라!",2023-12-27,53094530,3.2,-707720,...,372974290,6471,67,1.0,45294,207,248,20240101,None,F
25,6,6,1,OLD,20235980,말하고 싶은 비밀,2023-12-13,38025184,2.3,-2349427,...,868379725,3765,-164,-4.2,89597,95,127,20240101,None,F
26,7,7,-1,OLD,20236080,류이치 사카모토: 오퍼스,2023-12-27,31686950,1.9,-15234118,...,317887981,3001,-1659,-35.6,34196,200,270,20240101,None,F
27,8,8,0,OLD,20233299,크레센도,2023-12-20,29203100,1.8,-2644200,...,424298400,2534,-235,-8.5,39445,79,102,20240101,None,F
28,9,9,0,OLD,20235923,사랑은 낙엽을 타고,2023-12-20,11011634,0.7,285955,...,163391820,1052,-28,-2.6,17008,30,33,20240101,None,F
29,10,10,0,OLD,20235693,리빙: 어떤 인생,2023-12-13,6942434,0.4,-1569966,...,174717087,729,-181,-19.9,18551,20,23,20240101,None,F
30,1,1,0,OLD,20203702,노량: 죽음의 바다,2023-12-20,2893509165,49.8,-686119312,...,36926118105,290717,-59184,-16.9,3728850,1706,5793,20240101,None,K
31,2,2,0,OLD,20212866,서울의 봄,2023-11-22,2666429137,45.9,-649456909,...,118016920547,262422,-64054,-19.6,12117201,1614,5444,20240101,None,K
32,3,3,1,OLD,20234673,뽀로로 극장판 슈퍼스타 대모험,2023-12-13,113680587,2.0,2278496,...,3046919883,11586,190,1.7,332776,335,432,20240101,None,K
33,4,4,-1,OLD,20235290,도티와 영원의 탑,2023-12-27,100024717,1.7,-13487835,...,488186693,10704,-1268,-10.6,52400,357,419,20240101,None,K
34,5,5,0,OLD,20190324,3일의 휴가,2023-12-06,28109697,0.5,-5429437,...,4863180386,3295,-626,-16.0,517836,132,157,20240101,None,K
35,6,6,2,OLD,20202247,싱글 인 서울,2023-11-29,1903007,0.0,-409621,...,3740536035,212,-17,-7.4,399787,9,9,20240101,None,K
36,7,7,-1,OLD,20228560,너와 나,2023-10-25,2625839,0.0,-3233861,...,330224803,192,-337,-63.7,33811,8,8,20240101,None,K
37,8,8,1,OLD,20235697,엔시티 네이션 : 투 더 월드 인 시네마,2023-12-06,1364000,0.0,-3168000,...,554784000,69,-144,-67.6,25099,8,8,20240101,None,K
38,9,9,6,OLD,20232077,어른 김장하,2023-11-15,214000,0.0,-58000,...,230592472,31,-8,-20.5,27603,2,2,20240101,None,K
39,10,10,3,OLD,20227525,교토에서 온 편지,2023-12-06,207000,0.0,-67800,...,58288197,29,-19,-39.6,6717,3,3,20240101,None,K
40,1,1,0,OLD,20203702,노량: 죽음의 바다,2023-12-20,2893509165,38.8,-686119312,...,36926118105,290717,-59184,-16.9,3728850,1706,5793,20240101,None,None
41,2,2,0,OLD,20212866,서울의 봄,2023-11-22,2666429137,35.8,-649456909,...,118016920547,262422,-64054,-19.6,12117201,1614,5444,20240101,None,None
42,3,3,0,OLD,20236146,신차원! 짱구는 못말려 더 무비 초능력 대결전 ~날아라 수제김밥~,2023-12-22,565417320,7.6,-69888800,...,6071745009,58239,-6751,-10.4,626508,834,1671,20240101,None,None
43,4,4,0,OLD,20235735,아쿠아맨과 로스트 킹덤,2023-12-20,507984981,6.8,-156026099,...,7967584753,49368,-14686,-22.9,772354,832,1611,20240101,None,None
44,5,5,0,OLD,20235596,트롤: 밴드 투게더,2023-12-20,273538754,3.7,-16945147,...,3383181955,28988,-1952,-6.3,365927,660,981,20240101,None,None
45,6,6,1,OLD,20234673,뽀로로 극장판 슈퍼스타 대모험,2023-12-13,113680587,1.5,2278496,...,3046919883,11586,190,1.7,332776,335,432,20240101,None,None
46,7,7,-1,OLD,20235290,도티와 영원의 탑,2023-12-27,100024717,1.3,-13487835,...,488186693,10704,-1268,-10.6,52400,357,419,20240101,None,None
47,8,8,0,OLD,20234114,괴물,2023-11-29,92381680,1.2,-3768994,...,3884333955,8710,-524,-5.7,396137,187,263,20240101,None,None
48,9,9,0,OLD,20236045,"바다 탐험대 옥토넛 어보브 앤 비욘드: 버드, 옥토경보를 울려라!",2023-12-27,53094530,0.7,-707720,...,372974290,6471,67,1.0,45294,207,248,20240101,None,None
49,10,10,1,OLD,20235980,말하고 싶은 비밀,2023-12-13,38025184,0.5,-2349427,...,868379725,3765,-164,-4.2,89597,95,127,20240101,None,None

In [67]:
df[df["dt"] == "20240101"]["movieCd"].duplicated().sum()  # 0이면 완벽!

np.int64(0)

In [75]:
import pyarrow.dataset as ds
import pandas as pd

path = '~/data/movie_after/dailyboxoffice'
dataset = ds.dataset(path, format="parquet", partitioning="hive")
df = dataset.to_table().to_pandas()

df

,rnum,rank,rankInten,rankOldAndNew,movieCd,movieNm,openDt,salesAmt,salesShare,salesInten,...,salesAcc,audiCnt,audiInten,audiChange,audiAcc,scrnCnt,showCnt,dt,multiMovieYn,repNationCd
0,1,1,0,OLD,20203702,노량: 죽음의 바다,2023-12-20,2893509165,40.2,-686119312,...,36926118105,290717,-59184,-16.9,3728850,1706,5793,20240101,N,None
1,2,2,0,OLD,20212866,서울의 봄,2023-11-22,2666429137,37.0,-649456909,...,118016920547,262422,-64054,-19.6,12117201,1614,5444,20240101,N,None
2,3,3,0,OLD,20236146,신차원! 짱구는 못말려 더 무비 초능력 대결전 ~날아라 수제김밥~,2023-12-22,565417320,7.8,-69888800,...,6071745009,58239,-6751,-10.4,626508,834,1671,20240101,N,None
3,4,4,0,OLD,20235735,아쿠아맨과 로스트 킹덤,2023-12-20,507984981,7.1,-156026099,...,7967584753,49368,-14686,-22.9,772354,832,1611,20240101,N,None
4,5,5,0,OLD,20235596,트롤: 밴드 투게더,2023-12-20,273538754,3.8,-16945147,...,3383181955,28988,-1952,-6.3,365927,660,981,20240101,N,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,6,6,-1,OLD,20228555,더 퍼스트 슬램덩크,2023-01-04,61071229,2.5,-18588507,...,50258186644,6020,-2094,-25.8,4806408,299,475,20240105,None,None
246,7,7,1,OLD,20234114,괴물,2023-11-29,49830287,2.1,14689303,...,4052791608,4959,1465,41.9,412961,201,283,20240105,None,None
247,8,8,1,OLD,20235596,트롤: 밴드 투게더,2023-12-20,33639739,1.4,6333647,...,3543876998,3544,425,13.6,383684,291,353,20240105,None,None
248,9,9,2,OLD,20235253,외계+인 2부,2024-01-10,37986000,1.6,19617000,...,89283000,3237,1196,58.6,8382,14,14,20240105,None,None
249,10,10,0,OLD,20234673,뽀로로 극장판 슈퍼스타 대모험,2023-12-13,26514050,1.1,-1473485,...,3181315230,2759,-292,-9.6,347138,207,266,20240105,None,None

In [72]:
import pyarrow.dataset as ds
import pandas as pd
import os

# 데이터셋 경로 지정
ds_path = os.path.expanduser("~/data/movie_after/dailyboxoffice")
dataset = ds.dataset(ds_path, format="parquet", partitioning="hive")

# 데이터프레임 변환
df = dataset.to_table().to_pandas()

# 5일간 필터링 후 중복 제거
df_5days = df[df["dt"].isin(["20240101", "20240102", "20240103", "20240104", "20240105"])]
result = df_5days[["movieCd", "multiMovieYn", "repNationCd", "dt"]].sort_values(["dt", "movieCd"]).drop_duplicates(subset=["movieCd", "dt"])

# 결과 확인
result

Empty DataFrame
Columns: [movieCd, multiMovieYn, repNationCd, dt]
Index: []

In [78]:
import pandas as pd
import os

meta_path = os.path.expanduser("~/data/movie_after/meta/meta.parquet")
meta = pd.read_parquet(meta_path)

# ✅ movieCd 기준으로 groupby
grouped = meta.groupby("movieCd").agg({
    "multiMovieYn": lambda x: x.dropna().unique(),
    "repNationCd": lambda x: x.dropna().unique()
})

# ✅ 여러 개의 값이 존재하는 경우만 필터링
has_multiple = grouped[(grouped["multiMovieYn"].apply(len) > 1) | 
                       (grouped["repNationCd"].apply(len) > 1)]

# ✅ NaN 값이 남아있는 경우도 확인
has_nulls = meta[meta["multiMovieYn"].isna() | meta["repNationCd"].isna()]

print("🧪 중복된 값 있는 movieCd 수:", len(has_multiple))
print("🧪 NaN 남아있는 movieCd 수:", has_nulls["movieCd"].nunique())

🧪 중복된 값 있는 movieCd 수: 0
🧪 NaN 남아있는 movieCd 수: 24

In [79]:
# 1. meta 불러오기
meta = pd.read_parquet(os.path.expanduser("~/data/movie_after/meta/meta.parquet"))

# 2. movieCd 기준 groupby 해서 유효값 개수 세기
group_check = meta.groupby("movieCd").agg(
    multiMovieYn_valid = ("multiMovieYn", lambda x: x.notna().sum()),
    repNationCd_valid = ("repNationCd", lambda x: x.notna().sum())
)

# 3. 유효값이 모두 0개인 경우만 필터링
all_missing = group_check[(group_check["multiMovieYn_valid"] == 0) & 
                          (group_check["repNationCd_valid"] == 0)]

print("🧪 NaN만 있는 movieCd 수:", len(all_missing))
all_missing.head()

🧪 NaN만 있는 movieCd 수: 0

Empty DataFrame
Columns: [multiMovieYn_valid, repNationCd_valid]
Index: []

In [80]:
all_missing.index.tolist()

[]

In [81]:
df_final = df.drop_duplicates("movieCd")

# NaN만 있는 경우 몇 개인지
all_nan = df_final[["multiMovieYn", "repNationCd"]].isna().all(axis=1)
print("NaN만 있는 movieCd 수:", all_nan.sum())

# 전체 영화 개수
print("총 영화 개수:", len(df_final))

NaN만 있는 movieCd 수: 0
총 영화 개수: 39

In [82]:
import pandas as pd
import os

meta_path = os.path.expanduser("~/data/movie_after/meta/meta.parquet")
meta_df = pd.read_parquet(meta_path)
meta_df[["movieCd", "multiMovieYn", "repNationCd"]].sort_values("movieCd")

     movieCd multiMovieYn repNationCd
3   20203702          NaN         NaN
42  20203702          NaN           K
13  20203702            N         NaN
2   20212866          NaN         NaN
41  20212866          NaN           K
12  20212866            N         NaN
47  20227650          NaN           K
28  20227650            Y         NaN
16  20228555            N         NaN
8   20228555          NaN         NaN
34  20228555          NaN           F
49  20228560          NaN           K
23  20233299            Y         NaN
38  20233299          NaN           F
33  20234114          NaN           F
7   20234114          NaN         NaN
21  20234114            Y         NaN
45  20234673          NaN           K
19  20234673            N         NaN
48  20235145          NaN           K
40  20235253          NaN           K
0   20235253          NaN         NaN
10  20235253            N         NaN
46  20235290          NaN           K
6   20235353          NaN         NaN
20  20235353            Y         NaN
43  20235353          NaN           K
14  20235583            N         NaN
31  20235583          NaN           F
4   20235583          NaN         NaN
36  20235735          NaN           F
18  20235735            N         NaN
30  20235834          NaN           F
11  20235834            N         NaN
1   20235834          NaN         NaN
27  20235923            Y         NaN
37  20235980          NaN           F
26  20236045            Y         NaN
25  20236080            Y         NaN
29  20236108            Y         NaN
15  20236146            N         NaN
32  20236146          NaN           F
5   20236146          NaN         NaN
39  20236533          NaN           F
24  20236533            Y         NaN
22  20236557            Y         NaN
9   20236557          NaN         NaN
35  20236557          NaN           F
17  20236907            N         NaN
44  20236907          NaN           K

In [83]:
dupes = meta_df.duplicated(subset=["movieCd"], keep=False)
meta_df[dupes].sort_values("movieCd")

,rnum,rank,rankInten,rankOldAndNew,movieCd,movieNm,openDt,salesAmt,salesShare,salesInten,...,salesAcc,audiCnt,audiInten,audiChange,audiAcc,scrnCnt,showCnt,multiMovieYn,repNationCd,dt
42,3,3,0,OLD,20203702,노량: 죽음의 바다,2023-12-20,500404182,15.0,257605455,...,42830075536,51535,26366,104.8,4343953,981,2312,NaN,K,20240113
3,4,4,0,OLD,20203702,노량: 죽음의 바다,2023-12-20,500404182,9.8,257605455,...,42830075536,51535,26366,104.8,4343953,981,2312,NaN,NaN,20240113
13,4,4,0,OLD,20203702,노량: 죽음의 바다,2023-12-20,500404182,10.4,257605455,...,42830075536,51535,26366,104.8,4343953,981,2312,N,NaN,20240113
2,3,3,0,OLD,20212866,서울의 봄,2023-11-22,565592735,11.1,292044053,...,124064730524,55697,28211,102.6,12730775,923,2274,NaN,NaN,20240113
41,2,2,0,OLD,20212866,서울의 봄,2023-11-22,565592735,16.9,292044053,...,124064730524,55697,28211,102.6,12730775,923,2274,NaN,K,20240113
12,3,3,0,OLD,20212866,서울의 봄,2023-11-22,565592735,11.7,292044053,...,124064730524,55697,28211,102.6,12730775,923,2274,N,NaN,20240113
47,8,8,0,OLD,20227650,이어지는 땅,2024-01-10,4083800,0.1,1170600,...,19537800,487,143,41.6,2444,24,30,NaN,K,20240113
28,9,9,-1,OLD,20227650,이어지는 땅,2024-01-10,4083800,1.4,1170600,...,19537800,487,143,41.6,2444,24,30,Y,NaN,20240113
16,7,7,0,OLD,20228555,더 퍼스트 슬램덩크,2023-01-04,56176402,1.2,23265598,...,50635200633,5157,2084,67.8,4842802,212,258,N,NaN,20240113
34,5,5,0,OLD,20228555,더 퍼스트 슬램덩크,2023-01-04,56176402,3.2,23265598,...,50635200633,5157,2084,67.8,4842802,212,258,NaN,F,20240113
8,9,9,0,OLD,20228555,더 퍼스트 슬램덩크,2023-01-04,56176402,1.1,23265598,...,50635200633,5157,2084,67.8,4842802,212,258,NaN,NaN,20240113
38,9,9,2,OLD,20233299,크레센도,2023-12-20,14147100,0.8,6190800,...,561969600,1276,542,73.8,53778,51,66,NaN,F,20240113
23,4,4,2,OLD,20233299,크레센도,2023-12-20,14147100,4.8,6190800,...,561969600,1276,542,73.8,53778,51,66,Y,NaN,20240113
33,4,4,0,OLD,20234114,괴물,2023-11-29,56881947,3.2,19470134,...,4441645848,5422,1716,46.3,451934,180,241,NaN,F,20240113
7,8,8,0,OLD,20234114,괴물,2023-11-29,56881947,1.1,19470134,...,4441645848,5422,1716,46.3,451934,180,241,NaN,NaN,20240113
21,2,2,0,OLD,20234114,괴물,2023-11-29,56881947,19.4,19470134,...,4441645848,5422,1716,46.3,451934,180,241,Y,NaN,20240113
45,6,6,0,OLD,20234673,뽀로로 극장판 슈퍼스타 대모험,2023-12-13,31849638,1.0,23110401,...,3364016651,3412,2296,205.7,367170,139,189,NaN,K,20240113
19,10,10,0,OLD,20234673,뽀로로 극장판 슈퍼스타 대모험,2023-12-13,31849638,0.7,23110401,...,3364016651,3412,2296,205.7,367170,139,189,N,NaN,20240113
40,1,1,0,OLD,20235253,외계+인 2부,2024-01-10,2023303089,60.5,1207059692,...,4429161814,206416,121576,143.3,459783,1390,5770,NaN,K,20240113
0,1,1,0,OLD,20235253,외계+인 2부,2024-01-10,2023303089,39.6,1207059692,...,4429161814,206416,121576,143.3,459783,1390,5770,NaN,NaN,20240113
10,1,1,0,OLD,20235253,외계+인 2부,2024-01-10,2023303089,42.0,1207059692,...,4429161814,206416,121576,143.3,459783,1390,5770,N,NaN,20240113
20,1,1,0,OLD,20235353,길위에 김대중,2024-01-10,102383748,35.0,48356271,...,463101883,10173,4741,87.3,48417,414,577,Y,NaN,20240113
6,7,7,0,OLD,20235353,길위에 김대중,2024-01-10,102383748,2.0,48356271,...,463101883,10173,4741,87.3,48417,414,577,NaN,NaN,20240113
43,4,4,0,OLD,20235353,길위에 김대중,2024-01-10,102383748,3.1,48356271,...,463101883,10173,4741,87.3,48417,414,577,NaN,K,20240113
31,2,2,0,OLD,20235583,인투 더 월드,2024-01-10,403668678,22.8,269986231,...,896456547,42741,28054,191.0,97436,839,1919,NaN,F,20240113
4,5,5,0,OLD,20235583,인투 더 월드,2024-01-10,403668678,7.9,269986231,...,896456547,42741,28054,191.0,97436,839,1919,NaN,NaN,20240113
14,5,5,0,OLD,20235583,인투 더 월드,2024-01-10,403668678,8.4,269986231,...,896456547,42741,28054,191.0,97436,839,1919,N,NaN,20240113
18,9,9,-1,OLD,20235735,아쿠아맨과 로스트 킹덤,2023-12-20,38996009,0.8,18336863,...,8865644292,3896,1767,83.0,865387,143,188,N,NaN,20240113
36,7,7,0,OLD,20235735,아쿠아맨과 로스트 킹덤,2023-12-20,38996009,2.2,18336863,...,8865644292,3896,1767,83.0,865387,143,188,NaN,F,20240113
30,1,1,0,OLD,20235834,위시,2024-01-03,893476498,50.5,509459239,...,8742726091,90971,50402,124.2,912225,1069,3325,NaN,F,20240113
1,2,2,0,OLD,20235834,위시,2024-01-03,893476498,17.5,509459239,...,8742726091,90971,50402,124.2,912225,1069,3325,NaN,NaN,20240113
11,2,2,0,OLD,20235834,위시,2024-01-03,893476498,18.5,509459239,...,8742726091,90971,50402,124.2,912225,1069,3325,N,NaN,20240113
5,6,6,0,OLD,20236146,신차원! 짱구는 못말려 더 무비 초능력 대결전 ~날아라 수제김밥~,2023-12-22,167834167,3.3,104199009,...,7775924626,17072,10662,166.3,804351,478,723,NaN,NaN,20240113
15,6,6,0,OLD,20236146,신차원! 짱구는 못말려 더 무비 초능력 대결전 ~날아라 수제김밥~,2023-12-22,167834167,3.5,104199009,...,7775924626,17072,10662,166.3,804351,478,723,N,NaN,20240113
32,3,3,0,OLD,20236146,신차원! 짱구는 못말려 더 무비 초능력 대결전 ~날아라 수제김밥~,2023-12-22,167834167,9.5,104199009,...,7775924626,17072,10662,166.3,804351,478,723,NaN,F,20240113
24,5,5,-1,OLD,20236533,립세의 사계,2024-01-10,10539290,3.6,676220,...,51924170,1107,-118,-9.6,6661,147,237,Y,NaN,20240113
39,10,10,-2,OLD,20236533,립세의 사계,2024-01-10,10539290,0.6,676220,...,51924170,1107,-118,-9.6,6661,147,237,NaN,F,20240113
9,10,10,0,OLD,20236557,스즈메의 문단속: 다녀왔어,2024-01-10,50598241,1.0,22540299,...,179499548,4934,2217,81.6,17894,185,228,NaN,NaN,20240113
22,3,3,0,OLD,20236557,스즈메의 문단속: 다녀왔어,2024-01-10,50598241,17.3,22540299,...,179499548,4934,2217,81.6,17894,185,228,Y,NaN,20240113
35,6,6,0,OLD,20236557,스즈메의 문단속: 다녀왔어,2024-01-10,50598241,2.9,22540299,...,179499548,4934,2217,81.6,17894,185,228,NaN,F,20240113
44,5,5,0,OLD,20236907,지오디 마스터피스 더 무비,2024-01-10,101313000,3.0,70288500,...,286017000,4405,3056,226.5,12436,75,138,NaN,K,20240113
17,8,8,1,OLD,20236907,지오디 마스터피스 더 무비,2024-01-10,101313000,2.1,70288500,...,286017000,4405,3056,226.5,12436,75,138,N,NaN,20240113

In [84]:
meta_df.groupby("movieCd")[["multiMovieYn", "repNationCd"]].nunique().max()

multiMovieYn    1
repNationCd     1
dtype: int64

In [85]:
import pyarrow.dataset as ds
import pandas as pd
import os

# 1. 파티셔닝된 데이터셋 로드
dataset = ds.dataset(os.path.expanduser("~/data/movie_after/dailyboxoffice"), format="parquet", partitioning="hive")
df = dataset.to_table().to_pandas()

# 2. 특정 날짜 확인 (예: 20240113)
df_day = df[df["dt"] == "20240113"]

# 3. movieCd 기준으로 정렬 & 확인
df_day_sorted = df_day.sort_values(["movieCd", "multiMovieYn", "repNationCd"])

# 4. movieCd별로 몇 개의 값이 있는지 확인
check = df_day_sorted.groupby("movieCd")[["multiMovieYn", "repNationCd"]].nunique()

# 5. 하나로 정리 안된 경우 찾기
problematic = check[(check["multiMovieYn"] > 1) | (check["repNationCd"] > 1)]

print("⚠️ 문제 있는 movieCd 수:", len(problematic))
problematic

⚠️ 문제 있는 movieCd 수: 0

Empty DataFrame
Columns: [multiMovieYn, repNationCd]
Index: []