In [19]:
import pandas as pd


A = pd.DataFrame({
    "movieCd": ["1001", "1002", "1003"],
    "multiMovieYn": ["Y", "Y", "N"],
    "repNationCd": ["K", "F", None]
})

print(A)

  movieCd multiMovieYn repNationCd
0    1001            Y           K
1    1002            Y           F
2    1003            N        None

In [20]:
B = pd.DataFrame({
    "movieCd": ["1001", "1003", "1004"],
    "multiMovieYn": [None, "Y", "Y"],
    "repNationCd": [None, "F", "K"]
})
print(B)

  movieCd multiMovieYn repNationCd
0    1001         None        None
1    1003            Y           F
2    1004            Y           K

In [16]:
A.set_index("movieCd", inplace=True)
B.set_index("movieCd", inplace=True)

r_df = A.combine_first(B)

r_df.reset_index(inplace=True)

# 결과 출력
r_df

  movieCd multiMovieYn repNationCd
0    1001            Y           K
1    1002            Y           F
2    1003            N           F
3    1004            Y           K

In [17]:
merged_df = A.merge(B, on="movieCd", how="outer", suffixes=("_A", "_B"))
print(merged_df)
#  movieCd multiMovieYn_A repNationCd_A multiMovieYn_B repNationCd_B
# 0    1001              Y             K           None          None
# 1    1002              Y             F            NaN           NaN
# 2    1003              N          None              Y             F
# 3    1004            NaN           NaN              Y             K

        multiMovieYn_A repNationCd_A multiMovieYn_B repNationCd_B
movieCd
1001                 Y             K           None          None
1002                 Y             F            NaN           NaN
1003                 N          None              Y             F
1004               NaN           NaN              Y             K

In [23]:
merged_df = A.merge(B, on="movieCd", how="outer", suffixes=("_A", "_B"))

merged_df["multiMovieYn"] = merged_df["multiMovieYn_A"].fillna(merged_df["multiMovieYn_B"])
merged_df["repNationCd"] = merged_df["repNationCd_A"].fillna(merged_df["repNationCd_B"])

merged_df = merged_df[["movieCd", "multiMovieYn", "repNationCd"]]

# 결과 출력
print(merged_df)

  movieCd multiMovieYn repNationCd
0    1001            Y           K
1    1002            Y           F
2    1003            N           F
3    1004            Y           K