In [2]:
import pandas as pd
import os

```
├── movie_after
│   ├── dailyboxoffice
│   └── meta
├── movies
│   ├── dailyboxoffice
│   ├── done
│   └── merge
```

In [25]:
meta_df = pd.read_parquet('/home/wsl/data/movie_after/meta/meta.parquet')

In [26]:
meta_df.head(3)

,rnum,rank,rankInten,rankOldAndNew,movieCd,movieNm,openDt,salesAmt,salesShare,salesInten,...,salesAcc,audiCnt,audiInten,audiChange,audiAcc,scrnCnt,showCnt,multiMovieYn,repNationCd,dt
0,1,1,0,OLD,20234675,파묘,2024-02-22,994488376,59.1,-77800244,...,82017150331,105065,-8341,-7.4,8517603,1754,6456,NaN,NaN,20240314
1,2,2,0,OLD,20236295,듄: 파트2,2024-02-28,309814157,18.4,-23204995,...,15880074942,24491,-2936,-10.7,1393255,828,1884,NaN,NaN,20240314
2,3,3,0,OLD,20236488,밥 말리: 원 러브,2024-03-13,40116956,2.4,-42432996,...,133735908,4553,-4943,-52.1,15042,507,1004,NaN,NaN,20240314

In [27]:
pd.read_parquet('/home/wsl/data/movie_after/meta/meta.parquet')[['movieCd', 'multiMovieYn', 'repNationCd']].head(3)

    movieCd multiMovieYn repNationCd
0  20234675          NaN         NaN
1  20236295          NaN         NaN
2  20236488          NaN         NaN

In [28]:
movie_df = pd.read_parquet("~/data/movies/merge/dailyboxoffice/dt=20240101")
len(movie_df)

25

In [29]:
meta JOIN movie_df = movie_after_df(25) -> multiMovieYn, repNationCd 기존 보다 조금 더 fill 될것으로 예상

SyntaxError: invalid syntax (1783858452.py, line 1)

In [30]:
len(meta_df)

50

In [31]:
import pandas as pd
import os

meta_path = os.path.expanduser("~/data/movie_after/meta/meta.parquet")
df = pd.read_parquet(meta_path)

# 날짜 정보 존재 여부
print(df.columns)

Index(['rnum', 'rank', 'rankInten', 'rankOldAndNew', 'movieCd', 'movieNm',
       'openDt', 'salesAmt', 'salesShare', 'salesInten', 'salesChange',
       'salesAcc', 'audiCnt', 'audiInten', 'audiChange', 'audiAcc', 'scrnCnt',
       'showCnt', 'multiMovieYn', 'repNationCd', 'dt'],
      dtype='object')

In [34]:
print("고유 movieCd 수:", df["movieCd"].nunique())
print("전체 행 수:", len(df))

고유 movieCd 수: 24
전체 행 수: 50

NameError: name 'current_df' is not defined

In [35]:
import pandas as pd
meta_path = os.path.expanduser("~/data/movie_after/meta/meta.parquet")
meta_df = pd.read_parquet(meta_path)
meta_df[meta_df["dt"] == "20240102"]

,rnum,rank,rankInten,rankOldAndNew,movieCd,movieNm,openDt,salesAmt,salesShare,salesInten,...,salesAcc,audiCnt,audiInten,audiChange,audiAcc,scrnCnt,showCnt,multiMovieYn,repNationCd,dt
38,9,9,2,OLD,20235098,나폴레옹,2023-12-06,3114239,0.6,-942328,...,2249144756,422,-118,-21.9,226334,28,29,NaN,F,20240102
45,6,6,0,NEW,20227654,수라,2023-06-21,1204000,0.1,1204000,...,516740124,172,172,100.0,61024,1,1,NaN,K,20240102
48,9,9,3,OLD,20235264,백남준: 달은 가장 오래된 TV,2023-12-06,377000,0.0,261000,...,35477484,49,28,133.3,3927,9,9,NaN,K,20240102
49,10,10,0,NEW,20234796,비밀,2023-12-13,306000,0.0,306000,...,68575305,46,46,100.0,6767,6,6,NaN,K,20240102

In [36]:
ls ~/data/movies/done/dailyboxoffice/20240102/_DONE

/home/wsl/data/movies/done/dailyboxoffice/20240102/_DONE