In [ ]:
#tree -L 1
#.
#├── dt=20240101
#├── dt=20240102
#├── dt=20240103
#├── dt=20240104
#└── dt=20240105

BASE_PATH = '/home/wsl/data/movies/dailyboxoffice'

import pandas as pd

df = pd.read_parquet(BASE_PATH)

In [2]:
df.columns

Index(['rnum', 'rank', 'rankInten', 'rankOldAndNew', 'movieCd', 'movieNm',
       'openDt', 'salesAmt', 'salesShare', 'salesInten', 'salesChange',
       'salesAcc', 'audiCnt', 'audiInten', 'audiChange', 'audiAcc', 'scrnCnt',
       'showCnt', 'dt', 'multiMovieYn', 'repNationCd'],
      dtype='object')

In [5]:
df.to_parquet("~/temp/test/t_p_2", partition_cols = ['openDt','repNationCd','salesChange'])

In [8]:
pd.read_parquet("~/data/movie_after/meta/meta.parquet")[['movieCd','multiMovieYn','repNationCd']]

     movieCd multiMovieYn repNationCd
0   20224666          NaN         NaN
1   20247440          NaN         NaN
2   20249733          NaN         NaN
3   20233038          NaN         NaN
4   20247781          NaN         NaN
5   20235974          NaN         NaN
6   20212932          NaN         NaN
7   20240983          NaN         NaN
8   20229365          NaN         NaN
9   20241924          NaN         NaN
10  20224666            N         NaN
11  20247440            N         NaN
12  20249733            N         NaN
13  20233038            N         NaN
14  20247781            N         NaN
15  20235974            N         NaN
16  20212932            N         NaN
17  20240983            N         NaN
18  20229365            N         NaN
19  20241924            N         NaN
20  20235926            Y         NaN
21  20236400            Y         NaN
22  20242010            Y         NaN
23  20242245            Y         NaN
24  19960126            Y         NaN
25  19568013            Y         NaN
26  19918668            Y         NaN
27  20206547            Y         NaN
28  20247397            Y         NaN
29  20212336            Y         NaN
30  20247440          NaN           F
31  20247781          NaN           F
32  20235974          NaN           F
33  20240983          NaN           F
34  20241924          NaN           F
35  20235926          NaN           F
36  20240850          NaN           F
37  20249188          NaN           F
38  20241708          NaN           F
39  20242010          NaN           F
40  20224666          NaN           K
41  20249733          NaN           K
42  20233038          NaN           K
43  20212932          NaN           K
44  20229365          NaN           K
45  20236400          NaN           K
46  20208245          NaN           K
47  20241984          NaN           K
48  20242098          NaN           K
49  20241591          NaN           K

In [ ]:
# 위 메타랑 => movie 의 최종 일자별 데이터(movie_df) 를 join 해서 meta 에 있는 정보를 movie_df 의 multiMovieYn	repNationCd 에 채워 넣어서 저장 -> movie_after/d~o/dt=aaa/MY=aaa/nataion=???

In [1]:
import pandas as pd

df = pd.read_parquet("~/temp_test/meta/meta.parquet")
print(df)

  movieCd multiMovieYn repNationCd
0    1001            Y           K