In [2]:
import pandas as pd
import os

```
├── movie_after
│   ├── dailyboxoffice
│   └── meta
├── movies
│   ├── dailyboxoffice
│   ├── done
│   └── merge
```

In [11]:
meta_df = pd.read_parquet('/home/wsl/data/movie_after/meta/meta.parquet')
len(meta_df)

29

In [12]:
meta_df.head(3)

     movieCd multiMovieYn repNationCd
28  20236533            Y         NaN
29  19860125            Y         NaN
47  20235697          NaN           K

In [27]:
pd.read_parquet('/home/wsl/data/movie_after/meta/meta.parquet')[['movieCd', 'multiMovieYn', 'repNationCd']].head(3)

    movieCd multiMovieYn repNationCd
0  20234675          NaN         NaN
1  20236295          NaN         NaN
2  20236488          NaN         NaN

In [28]:
movie_df = pd.read_parquet("~/data/movies/merge/dailyboxoffice/dt=20240101")
len(movie_df)

25

In [29]:
meta JOIN movie_df = movie_after_df(25) -> multiMovieYn, repNationCd 기존 보다 조금 더 fill 될것으로 예상

SyntaxError: invalid syntax (1783858452.py, line 1)

In [30]:
len(meta_df)

50

In [31]:
import pandas as pd
import os

meta_path = os.path.expanduser("~/data/movie_after/meta/meta.parquet")
df = pd.read_parquet(meta_path)

# 날짜 정보 존재 여부
print(df.columns)

Index(['rnum', 'rank', 'rankInten', 'rankOldAndNew', 'movieCd', 'movieNm',
       'openDt', 'salesAmt', 'salesShare', 'salesInten', 'salesChange',
       'salesAcc', 'audiCnt', 'audiInten', 'audiChange', 'audiAcc', 'scrnCnt',
       'showCnt', 'multiMovieYn', 'repNationCd', 'dt'],
      dtype='object')

In [34]:
print("고유 movieCd 수:", df["movieCd"].nunique())
print("전체 행 수:", len(df))

고유 movieCd 수: 24
전체 행 수: 50

NameError: name 'current_df' is not defined

In [35]:
import pandas as pd
meta_path = os.path.expanduser("~/data/movie_after/meta/meta.parquet")
meta_df = pd.read_parquet(meta_path)
meta_df[meta_df["dt"] == "20240102"]

,rnum,rank,rankInten,rankOldAndNew,movieCd,movieNm,openDt,salesAmt,salesShare,salesInten,...,salesAcc,audiCnt,audiInten,audiChange,audiAcc,scrnCnt,showCnt,multiMovieYn,repNationCd,dt
38,9,9,2,OLD,20235098,나폴레옹,2023-12-06,3114239,0.6,-942328,...,2249144756,422,-118,-21.9,226334,28,29,NaN,F,20240102
45,6,6,0,NEW,20227654,수라,2023-06-21,1204000,0.1,1204000,...,516740124,172,172,100.0,61024,1,1,NaN,K,20240102
48,9,9,3,OLD,20235264,백남준: 달은 가장 오래된 TV,2023-12-06,377000,0.0,261000,...,35477484,49,28,133.3,3927,9,9,NaN,K,20240102
49,10,10,0,NEW,20234796,비밀,2023-12-13,306000,0.0,306000,...,68575305,46,46,100.0,6767,6,6,NaN,K,20240102

In [36]:
ls ~/data/movies/done/dailyboxoffice/20240102/_DONE

/home/wsl/data/movies/done/dailyboxoffice/20240102/_DONE

In [19]:
import pyarrow.dataset as ds
import pandas as pd

path = '~/data/movie_after/dailyboxoffice'
dataset = ds.dataset(path, format="parquet", partitioning="hive")
df = dataset.to_table().to_pandas()

In [20]:
df

,rankOldAndNew,movieCd,movieNm,openDt,salesAmt,salesInten,salesAcc,audiCnt,audiInten,audiChange,audiAcc,scrnCnt,showCnt,rnum,rank,dt,multiMovieYn,repNationCd
0,OLD,20236146,신차원! 짱구는 못말려 더 무비 초능력 대결전 ~날아라 수제김밥~,2023-12-22,565417320,-69888800,6071745009,58239,-6751,-10.4,626508,834,1671,3,3,20240101,N,F
1,OLD,20235735,아쿠아맨과 로스트 킹덤,2023-12-20,507984981,-156026099,7967584753,49368,-14686,-22.9,772354,832,1611,4,4,20240101,N,F
2,OLD,20235596,트롤: 밴드 투게더,2023-12-20,273538754,-16945147,3383181955,28988,-1952,-6.3,365927,660,981,5,5,20240101,N,F
3,OLD,20235980,말하고 싶은 비밀,2023-12-13,38025184,-2349427,868379725,3765,-164,-4.2,89597,95,127,10,10,20240101,N,F
4,OLD,20203702,노량: 죽음의 바다,2023-12-20,2893509165,-686119312,36926118105,290717,-59184,-16.9,3728850,1706,5793,1,1,20240101,N,K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1099,OLD,20040725,화양연화,2000-10-20,4939863,-5671239,1109396135,557,-675,-54.8,124048,51,54,22,22,20240215,Y,None
1100,OLD,20247383,청춘 돼지는 책가방 소녀의 꿈을 꾸지 않는다,2024-02-01,9261828,6900994,142262955,984,745,311.7,15078,40,41,15,15,20240215,None,F
1101,OLD,20247158,에스파: 마이 퍼스트 페이지,2024-02-14,14742000,-53421000,84291000,648,-2445,-79.0,3895,65,158,20,20,20240215,None,K
1102,OLD,20236556,"주사위놀이, 마불 세계여행",2024-01-03,3734000,1628000,38424000,621,270,76.9,6398,11,11,21,21,20240215,None,K
1103,OLD,20212866,서울의 봄,2023-11-22,4036039,-26539,127859407823,451,-1,-0.2,13120357,58,68,24,24,20240215,None,K